<a href="https://colab.research.google.com/github/lohith261/machinelearninglab/blob/main/naive_bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv("/content/diabetes.csv - diabetes.csv (1).csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
data.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of      Pregnancies  Glucose  ...  Age  Outcome
0              6      148  ...   50        1
1              1       85  ...   31        0
2              8      183  ...   32        1
3              1       89  ...   21        0
4              0      137  ...   33        1
..           ...      ...  ...  ...      ...
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[768 rows x 9 columns]>

In [ ]:
data.shape

(768, 9)

In [ ]:
corr = data.corr()
print(corr)

                          Pregnancies   Glucose  ...       Age   Outcome
Pregnancies                  1.000000  0.129459  ...  0.544341  0.221898
Glucose                      0.129459  1.000000  ...  0.263514  0.466581
BloodPressure                0.141282  0.152590  ...  0.239528  0.065068
SkinThickness               -0.081672  0.057328  ... -0.113970  0.074752
Insulin                     -0.073535  0.331357  ... -0.042163  0.130548
BMI                          0.017683  0.221071  ...  0.036242  0.292695
DiabetesPedigreeFunction    -0.033523  0.137337  ...  0.033561  0.173844
Age                          0.544341  0.263514  ...  1.000000  0.238356
Outcome                      0.221898  0.466581  ...  0.238356  1.000000

[9 rows x 9 columns]

In [ ]:
print(data.mean())

Pregnancies                   3.845052
Glucose                     120.894531
BloodPressure                69.105469
SkinThickness                20.536458
Insulin                      79.799479
BMI                          31.992578
DiabetesPedigreeFunction      0.471876
Age                          33.240885
Outcome                       0.348958
dtype: float64

In [ ]:
print(data.std())

Pregnancies                   3.369578
Glucose                      31.972618
BloodPressure                19.355807
SkinThickness                15.952218
Insulin                     115.244002
BMI                           7.884160
DiabetesPedigreeFunction      0.331329
Age                          11.760232
Outcome                       0.476951
dtype: float64

In [ ]:
data['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
X = data.drop('Outcome', axis=1)  
y = data['Outcome']

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
215           12      151             70  ...  41.8                     0.742   38
657            1      120             80  ...  38.9                     1.162   41
719            5       97             76  ...  35.6                     0.378   52
467            0       97             64  ...  36.8                     0.600   25
697            0       99              0  ...  25.0                     0.253   22
..           ...      ...            ...  ...   ...                       ...  ...
684            5      136             82  ...   0.0                     0.640   69
361            5      158             70  ...  29.8                     0.207   63
327           10      179             70  ...  35.1                     0.200   37
262            4       95             70  ...  32.1                     0.612   24
147            2      106             64  ...  30.5                     1.400   34

[614 rows x 8 columns]

In [ ]:
print(X_test)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
378            4      156             75  ...  48.3                     0.238   32
220            0      177             60  ...  34.6                     1.072   21
616            6      117             96  ...  28.7                     0.157   30
88            15      136             70  ...  37.1                     0.153   43
202            0      108             68  ...  27.3                     0.787   32
..           ...      ...            ...  ...   ...                       ...  ...
522            6      114              0  ...   0.0                     0.189   26
633            1      128             82  ...  27.5                     0.115   22
100            1      163             72  ...  39.0                     1.222   33
231            6      134             80  ...  46.2                     0.238   46
626            0      125             68  ...  24.7                     0.206   21

[154 rows x 8 columns]

In [ ]:
print(y_test)

378    1
220    1
616    0
88     1
202    0
      ..
522    0
633    0
100    1
231    1
626    0
Name: Outcome, Length: 154, dtype: int64

In [ ]:
from sklearn.tree import DecisionTreeClassifier  
data_classifier = DecisionTreeClassifier()  
data_classifier.fit(X_train, y_train) 
y_pred = data_classifier.predict(X_test)


correct = (y_pred==y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")

In [ ]:
from sklearn.svm import SVC  
svclassifier = SVC(kernel='linear')  
svclassifier.fit(X, y)

y_pred = svclassifier.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  77.734375 %

In [ ]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB() 
gnb.fit(X, y) 
y_pred = gnb.predict(X)
correct = (y_pred==y).sum()
accuracy = correct/len(y)*100
print("accuracy = ", accuracy, "%")

accuracy =  76.30208333333334 %